* {
  box-sizing: border-box;
}
html {
  background: silver;
  height: 100%;
}
.book-box {
  border: 1px solid grey;
  background: white;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 10px auto;
  padding: 10px;
}
.cover {
  border: 1px solid grey;
  margin-left: 15px;
  height: 300px;
  width: 200px;
}
button:hover{
  cursor: pointer;
}
.description-box {
  border: 1px solid grey;
  padding: 20px;
}